a {
	color: white;
}
.m {
	color : white;
}
.MPL{
	color: white;
}
.T1{
	position: center;
}
.NEWS {
	color: white;
}
.JudulVid{
	color: white;
}
.LIVE {
	color: white;
}
.TEAMS {
	color: white;
}
.abt p {
	color: white;
}